<div class="h-56 overflow-auto">
  <% if current_user %>
    <% @notifications.each do |notification| %>
      <%= render "components/notification_info_card", notification: notification %>
    <% end %>
  <% end %>
</div>