<div class="flex h-full container">
  <!-- Left Panel - Conversations Container -->
  <%= render "conversation_left_panel" %>
  <!-- Right Panel - Messages Container -->
  <%= render "conversation_right_panel" %>
</div>