<div class="flex h-full">
  <!-- Left Panel - Conversations Container -->
  <%= render "conversation_left_panel" %>
  <!-- Right Panel - Messages Container -->
  <%= render "conversation_panel" %>
</div>
