<div class="md:container md:mx-auto">
  <!-- name of each tab group should be unique -->
  <div class="tabs tabs-lift mt-4">
    <input type="radio" name="my_tabs_3" class="tab" aria-label="My booking requests" />
    <div class="tab-content bg-base-100 border-base-300 p-6">
      <%= render "bookings/booking_requests/outgoing_request_card" %>
    </div>

    <input type="radio" name="my_tabs_3" class="tab" aria-label="Incoming requests" checked="checked" />
    <div class="tab-content bg-base-100 border-base-300 p-6">
      <%= render "bookings/booking_requests/incoming_request_card" %>
    </div>

    <input type="radio" name="my_tabs_3" class="tab" aria-label="All bookings" checked="checked" />
    <div class="tab-content bg-base-100 border-base-300 p-6">
      <%= render "bookings/booking_requests/all_booking_requests_card" %>
    </div>

    <input type="radio" name="my_tabs_3" class="tab" aria-label="Calendar" checked="checked" />
    <div class="tab-content bg-base-100 border-base-300 p-6" data-controller="calendar">
      <div class="flex items-center justify-center mb-4">
        <div id="calendar-nav">
          <button data-action="click->calendar#prev" class="btn btn-sm">Prev</button>
          <button data-action="click->calendar#today" class="btn btn-sm">Today</button>
          <button data-action="click->calendar#next" class="btn btn-sm">Next</button>
        </div> 
      <h2 data-calendar-target="monthLabel" class="font-bold text-lg mx-auto"></h2>
    </div>
      <div id="calendar" style="height: 700px" data-calendar-target="calendar">
        <!-- calendar grid rendered here -->
      </div>
    </div>

    <input type="radio" name="my_tabs_3" class="tab" aria-label="Admin" />
    <div class="tab-content bg-base-100 border-base-300 p-6">
      INSERT TABLE LIST HERE
    </div>
  </div>

</div>