<div class="md:container md:mx-auto">
  <!-- name of each tab group should be unique -->
  <div class="tabs tabs-lift mt-4">
    <input type="radio" name="my_tabs_3" class="tab" aria-label="My booking requests" />
    <div class="tab-content bg-base-100 border-base-300 p-6">
      <%= render "bookings/booking_requests/outgoing_request_card" %>
    </div>

    <input type="radio" name="my_tabs_3" class="tab" aria-label="Incoming requests" checked="checked" />
    <div class="tab-content bg-base-100 border-base-300 p-6">
      <%= render "bookings/booking_requests/incoming_request_card" %>
    </div>

    <input type="radio" name="my_tabs_3" class="tab" aria-label="All bookings" checked="checked" />
    <div class="tab-content bg-base-100 border-base-300 p-6">
      <%= render "bookings/booking_requests/all_booking_requests_card" %>
    </div>

    <input type="radio" name="my_tabs_3" class="tab" aria-label="Calendar" checked="checked" />
    <div class="tab-content bg-base-100 border-base-300 p-6">
      <div id="calendar" style="height: 700px">
        <script>
          const Calendar = tui.Calendar;
          const calendar = new Calendar('#calendar', {
            defaultView: 'month',
            template: {
              time(event) {
                const { start, end, title } = event;

                return `<span style="color: white;">${formatTime(start)}~${formatTime(end)} ${title}</span>`;
              },
              allday(event) {
                return `<span style="color: gray;">${event.title}</span>`;
              },
            },
            calendars: [
              {
                id: 'cal1',
                name: 'Personal',
                backgroundColor: '#03bd9e',
              },
              {
                id: 'cal2',
                name: 'Work',
                backgroundColor: '#00a9ff',
              },
            ],
          });
        </script>
      </div>
    </div>

    <input type="radio" name="my_tabs_3" class="tab" aria-label="Admin" />
    <div class="tab-content bg-base-100 border-base-300 p-6">
      INSERT TABLE LIST HERE
    </div>
  </div>

</div>