<div class="bg-gray-200 rounded-lg p-4 shadow-lg border border-gray-200 overflow-y-auto" id="amenities">
  <h3 class="text-2xl font-semibold text-gray-800 mb-4">Amenities</h3>
  <ul>
    <% @amenities.each do |amenity| %>
      <li class="text-lg text-gray-700"><%= amenity.name %></li>
      <% if amenity.description.present? %>
        <li class="text-sm text-gray-500 italic"><%= amenity.description %></li>
      <% end %>
    <% end %>
  </ul>
</div>