<div class="card bg-base-100 shadow border border-base-200" id="user-reviews">
  <div class="card-body p-6">
    <h3 class="text-3xl font-bold text-center text-primary">User Reviews</h3>
    <div class="divider divider-primary my-0"></div>

    <div class="p-6 rounded-lg overflow-y-auto h-120">
    <%= turbo_frame_tag "reviews" do %>
      <div id="reviews_list" class="space-y-4">
        <% @world.reviews.each do |review| %>
          <%# <%= render review %>
          <%= render partial: "reviews/review", locals: { review: review, world: @world } %>
        <% end %>
      </div>
    <% end %>
    </div>
    <div class="divider"></div>
        <%# New review %>
        <div id="review-form" class="flex justify-center">
        
          <button class="btn btn-soft btn-secondary" onclick="create_review_modal.showModal()">Cast a review spell<img src="https://static.thenounproject.com/png/6653090-512.png" alt="Potion Icon" style="width: 20px; height: 20px; margin-right: 5px;"></button>
          <div id="review_form_modal">
            <%= render "reviews/forms/review_form" %>
          </div>
        
        </div>
        <div id="review_modal"></div>
  </div>
</div>
