<div class="bg-gray-200 rounded-lg p-4 shadow-lg border border-gray-200 overflow-y-auto" id="world-map">
  <h3 class="text-2xl font-semibold text-gray-800 mb-4">Map placeholder</h3>
  <p><strong>Location: </strong><%= @world.place %></p>
  <p><strong>Latitude: </strong><%= @world.latitude %></p>
  <p><strong>Longitude: </strong><%= @world.longitude %></p>
  <%# TO DO: Embed a map here or provide a link to open a map modal %>
</div>