<div class="card bg-base-100 shadow border border-base-200 overflow-y-auto" id="amenities">
  <div class="card-body p-6">
    <h3 class="text-3xl font-bold text-center text-primary">World Map Location</h3>
    <div class="divider divider-primary my-0"></div>
    <div class="space-y-4">
      <p><strong>Location: </strong><%= @world.place %></p>
      <p><strong>Latitude: </strong><%= @world.latitude %></p>
      <p><strong>Longitude: </strong><%= @world.longitude %></p>
      <%# TO DO: Embed a map here or provide a link to open a map modal %>
    </div>
  </div>
</div>
